* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    background-color: rgb(53, 59, 131);
}

header {
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(53, 59, 131);
}   

nav {
    width: 60%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(53, 59, 131);
}

li {
    list-style: none;
    color: white;
    cursor: pointer;
    font-size: 19px;
    background-color: rgb(53, 59, 131);
}

#logo {
    width: 120px;
    height: auto;
    background-color: rgb(53, 59, 131);
}

.bo {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(24, 24, 50);
    
}

.container {
    width: 80%;
    height: 80vh;
    display: flex;
    border-radius: 15px;
}

img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    margin-left: 50px;
    
}

.form-image  {
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px; 
      
}


.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    border-radius: 15px;
    color: white;
    margin-right: 85px;
    font-weight: bold;
}


.input_nome  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 45px 0;
    color: white;
    cursor: pointer;
}

.input_ra  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 45px 0;
    color: white;
    cursor: pointer;
}

.input-box {
    display: flex;
    flex-direction: column;
    color: white;
    cursor: pointer;
}

.input-box input {
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgb(24, 24, 50);
    font-size: 1rem;
    color: white;
    margin: 1rem 0;
    padding: 1rem 1.5rem;
}

.input-box input:hover {
    background-color: rgb(24, 24, 50);
}

.input-box input:focus-visible {
    outline: 1px solid white;
}

.input-field input::-webkit-inner-spin-button {
    appearance: none;
}